{% extends "base.html" %}
{% block content %}

<h1 class="text-2xl font-bold mb-6 text-center">Devices</h1>

<!-- Search + Filter -->
<div class="px-4">
<div class="flex flex-col md:flex-row md:items-center md:space-x-4 mb-4 space-y-3 md:space-y-0">
  <input
    id="search"
    name="search"
    placeholder="Search name, IP, OS, Location..."
    class="border px-3 py-2 rounded w-full md:w-64"
    hx-get="/ui/devices"
    hx-trigger="keyup changed delay:300ms"
    hx-target="#device-table"
    hx-include="#search,#filter-location,#filter-os"
  />

  <select
    id="filter-location"
    name="filter_location"
    class="border px-3 py-2 rounded w-full md:w-40"
    hx-get="/ui/devices"
    hx-trigger="change"
    hx-target="#device-table"
    hx-include="#search,#filter-location,#filter-os"
  >
    <option value="">All Locations</option>
    <option value="DC1">Shenton Park</option>
    <option value="DC2">Malaga</option>
  </select>

  <select
    id="filter-os"
    name="filter_os"
    class="border px-3 py-2 rounded w-full md:w-40"
    hx-get="/ui/devices"
    hx-trigger="change"
    hx-target="#device-table"
    hx-include="#search,#filter-location,#filter-os"
  >
    <option value="">All OS</option>
    <option value="IOS">IOS</option>
    <option value="NXOS">NXOS</option>
  </select>
</div>
</div>
<!-- Full-width table with same gap as logs/accounts -->
<div id="device-table" class="mt-6 px-4 overflow-x-auto">
  {% include "partials/device_table.html" %}
</div>


{% endblock %}
